.ProseMirror {
  .tableWrapper {
    @apply my-5;
  }

  table {
    border-color: rgba(0, 0, 0, .1);
    @apply border-collapse rounded box-border w-full;

    td,
    th {
      position: relative;
      @apply border min-w-[100px] p-2 relative text-left align-top border-foreground-500;

      &:first-of-type:not(a) {
        @apply mt-0;
      }

      p {
        @apply m-0;

        & + p {
          @apply mt-3;
        }
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      @apply bg-default-200;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;

      &::before {
        @apply bg-black/20 h-full w-[1px] ml-2;
        content: '';
      }
    }

    .selectedCell {
      background-color: rgba(0, 0, 0, .05);
    }

    .grip-column,
    .grip-row {
      @apply items-center cursor-pointer flex justify-center absolute z-10 bg-default-200;
    }

    .grip-column {
      border-color: rgba(0, 0, 0, .2);
      @apply w-[calc(100%+1px)] border-l h-3 -left-[1px] -mt-[1px] -top-3;

      &:hover,
      &.selected {
        &::before {
          content: '';
          @apply w-2.5;
        }
      }

      &:hover {
        @apply bg-default-200;
        /* background-color: rgba(0, 0, 0, .1); */

        &::before {
          @apply border-b-2 border-dotted border-black/60;
        }
      }

      &.first {
        @apply border-transparent rounded-tl-sm;
      }

      &.last {
        @apply rounded-tr-sm;
      }

      &.selected {
        border-color: rgba(0, 0, 0, .3);
        /* background-color: rgba(0, 0, 0, .3); */
        @apply shadow-sm bg-default-200;

        &::before {
          @apply border-b-2 border-dotted;
        }
      }
    }

    .grip-row {
      border-color: rgba(0, 0, 0, .2);
      @apply h-[calc(100%+1px)] border-t -left-[13px] w-3 -mt-[1px] top-0;

      &:hover,
      &.selected {
        &::before {
          @apply h-2.5;
          content: '';
        }
      }
      &:hover {
        @apply bg-default-200;
        /* background-color: rgba(0, 0, 0, .1); */

        &::before {
          @apply border-l-2 border-dotted border-black/60;
        }
      }

      &.first {
        @apply border-transparent rounded-tl-sm;
      }

      &.last {
        @apply rounded-bl-sm;
      }

      &.selected {
        border-color: rgba(0, 0, 0, .3);
        /* background-color: rgba(0, 0, 0, .3); */
        @apply shadow-sm bg-default-200;

        &::before {
          @apply border-l-2 border-dotted;
        }
      }
    }
  }
}