.ProseMirror {
  @apply caret-foreground-500 outline-0 pr-8 pl-20 py-24 z-0 lg:pl-16 lg:pr-8;

  & > * {
    @apply mx-auto max-w-7xl;
  }

  .selection {
    @apply inline;
  }

  .selection, *::selection {
    @apply bg-foreground-500;
  }

  & > .react-renderer {
    @apply my-12 first:mt-0 last:mb-0;
  }

  &.resize-cursor {
    @apply cursor-col-resize;
  }

  .ProseMirror-gapcursor {
    @apply relative w-full max-w-2xl mx-auto;

    &:after {
      @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-2xl mx-auto left-0 right-0;
    }
  }

  .node-aiWriter {
    @apply !my-0;
  }
}

.tippy-box {
  background-color: transparent !important;
}

[data-theme='slash-command'] {
  width: 1000vw;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display:none;
}

/* Change cursor */
/* * {
  cursor: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 96 104" xmlns="http://www.w3.org/2000/svg"><path style="fill: black" d="M0.86065 0.697766L95.7812 51.5907L50.3553 59.6832L34.4976 103.014L0.86065 0.697766Z" /></svg>'), default !important;
} */

@import './partials/animations.css';
@import './partials/blocks.css';
@import './partials/code.css';
@import './partials/collab.css';
@import './partials/lists.css';
@import './partials/placeholder.css';
@import './partials/table.css';
@import './partials/typography.css';